// Blog
 
// Global 

.darken {
	.opacity(.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: #000;
}

.article-info {
	position: relative;
	z-index: 2;
}

// Namespaced 

.blog {
	article {
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
	}
}

.blog-intro {
	background: @color-red;
	.padding-section;
	text-align: center;
}
.blog-intro-logo {
	background: url('../img/abcd-blog-intro-logo.png') no-repeat;
	width: 192px;
	height: 90px;
	margin: 0 auto 20px;
	.hide-text;
}
.blog-intro-description {
	color: #fff;
	.typeSerifSmall;
}

.latest-post {
	overflow: hidden;

	article {
		padding: 20px;
		text-align: center;
		background-size: cover;
	}
	.article-title {
		a {
			display: block;
			padding: 10px 5px;
			.typeSerifHeaderWhite;
			&:hover {
				text-decoration: none;
				background: @color-red;
			}
		}
	}
	.article-excerpt {
		.typeSerifSmall;
		color: @color-white;
	}
	.article-readmore {
		margin: 20px 0;
	}

	@media (min-width: @screen-tablet) {
		
		article {
			height: 770px;
		}

		.article-info {
			top: 55%;
		}
	}

}


.more-reading {

	article {
		@media (min-width: @screen-tablet) {
			height: 360px;
			
			&:first-child, &:nth-child(4) {
				padding-left: 0;
			}

			&:nth-child(3n) {
				padding-right: 0;
			}

			.article-info {
				top: 25%;
				left: 40px;
				width: 300px;
			}
		}
	}
}


// Article page (single.php)

.meta {

	.logo {
		.pull-right;
	}
	
	img {
		.pull-right;
	}
}

.single {

	.get-started .button{
		
		@media (min-width: @screen-tablet) {
			margin-top: 40px;
		}
		
	}
}

.share-this {

	text-align: right;
}
