// Body
// This file is for global styles that don't belong in one 
// namespaced .less file for another section

body {
	padding-top: 0;
}

img {
	.img-responsive;
}

.company-culture > div {
	@media (max-width: @screen-phone) {
		padding-bottom: 10px;
	}
}

.call-to-action {
	text-align: center;
	
	.button {
		display: block;
		margin: 0 auto;
		width: 110px;
	}
}

.more-link {
	.hidden;
}