.main-content {
	.description-contact {
		color: #999;
		padding-left: 0;
		padding-right: 0;
		.typeSerifSmall;
	}
}

.instruction-contact {
	.typeSerifSmall;
	color: #222;
	font-weight: 700;
	.small {
		.typeSerifXSmall;
		font-weight: 300;
	}
}