// Flex Menu 

// Overrides here so as not to disturb original files

.fm-container {
	border: none;
	background: none;
}

// Menu button for mobile
.fm-button {
	border: 1px solid @abcd-red;

	&:hover {
		background-color: @abcd-red;

		.fm-bar{
			background-color: white;
		}
	}

	.fm-bar {
		background-color: @abcd-red;
	}
}