.get-started {
	background: @color-green;
	.padding-section;
	overflow: hidden;
	.call-to-action {
		color: @color-white;
	}
}

.get-started-blog {
	background: transparent;
	.call-to-action {
		color: @color-darkGrey;
	}
}