// Header

header[role='banner'] {
	@media (max-width: @screen-md) {
		width: 100%;
		padding: 0 20px;
	}
}

.main-menus {
	padding: 20px;

	.site-header {
		padding-top: 15px;
		height: 89px;
		padding: 0;
		@media (min-width: @screen-desktop) {
			.pull-right;
		}
		a {
			background: url('../img/abcd-global-logo.jpg') no-repeat;
			background-size: contain;
			display: block;
			height: inherit;
			width: 100%;
			.text-hide();
			@media (min-width: @screen-md) {
				margin-top: 10px;
			}
			@media (max-width: @screen-md) {
				width: 112px;
				.pull-right;
				margin: 0;
			}
			@media (max-width: @screen-md) {
				background: url('../img/abcd-global-logo-small.jpg') no-repeat;
				text-align: right;
			}
		}
		@media (max-width: @screen-sm) {
			height: 45px;
			margin-top: 5px;
		}
	}
}