// Header

header[role='banner'] {
	@media (max-width: @screen-md) {
		width: 100%;
		padding: 0 20px;
	}
}

.icon-socialmedia-set-header {
	margin: 10px 0 0 0;
	text-align: left;
	a {
		margin-right: 20px;
		margin-top: 13px;
		vertical-align: top;
	}
	@media(max-width: @screen-lg) {
		margin-left: 50px;
	}
	@media(max-width: @screen-xs) {
		display: none;
	}
}

.main-menus {
	padding: 20px;

	.site-header {
		height: 45px;
		margin: 10px 0 0 0;
		@media (max-device-width: 1024px) {
			// Using device width instead of Bootstrap screen size to account for RetinaDisplay iPad
			.pull-right;
		}
		a {
			background: url('../img/abcd-global-logo.jpg') no-repeat;
			background-size: contain;
			display: block;
			height: inherit;
			margin: 0;
			padding: 0;
			width: 100%;
			.text-hide();
			@media (max-width: @screen-md) {
				width: 112px;
				margin: 0;
				background: url('../img/abcd-global-logo-small.jpg') no-repeat;
				text-align: right;
			}
		}
		@media (max-width: @screen-md) {
			height: 45px;
			margin-top: 5px;
		}
	}
}