.about-abcd {
	text-align: left;
	@media(max-width: @screen-tablet) {
		text-align: center;
	}
}

.beliefs {
	background: @color-red;
	padding: 20px 0;
	.learn-more {
		.btn;
		.btn-blue;
		margin: 10px 0;
	}
	.tab-pane {
		padding: 20px 45px;
		overflow: hidden;
		@media(max-width: @screen-tablet) {
			display: none;
		}
		h3 {
			margin: 0 0 10px 0;
		}
		p {
			text-align: left;
			margin: 0 0 20px 0;
		}
		&.active {
			display: block;
		}
	}
	.nav {
		@media(max-width: @screen-tablet) {
			background: @color-darkRed;
			margin: 0;
			li {
				margin: 0;
				&.active {
					a {
						background: @color-red;
					}
				}
			}
			a {
				background: @color-darkRed;
				border-radius: 0;
				color: @color-white;
				font-weight: 700;
				&:hover {
					background: @color-red;
				}
			}
		}
	}
	.nav-pills {
		@media(min-width: @screen-md) {
			display: none;
		}
	}
	.row {
		@media(max-width: @screen-tablet) {
			background: @color-red;
		}
	}
}

.company-culture {
	background: @color-darkGrey;
	color: @color-white;
	text-align: center;
	.padding-section;
	.no-padding-bottom;
	.typeSerifSmall;

	.company-culture-intro {
		margin: 0 0 20px 0;
	}
}

.image-panel {
	img {
		width: 100%;
		.img-responsive;
	}
}

.image-panel-home {
	background: url('../img/abcd-home-hero.jpg') no-repeat center top;
	height: 386px;
	width: 100%;
	background-size: cover;
	@media (min-width: @screen-lg) {
		background-size: cover;
		height: 633px;
	}
	@media (max-width: @screen-md) {
		background-size: auto 100%;
	}
	@media (max-width: @screen-sm) {
		background: url('../img/abcd-home-hero-small.jpg') no-repeat;
		background-size: cover;
		height: 370px;
	}
}

.mailing-list {
	overflow: hidden;
	text-align: left;
	@media(max-width: @screen-tablet) {
		text-align: center;
	}
	h2 {
		color: @color-red;
		font-size: 24px;
		font-weight: bold;
		margin: 0 0 10px 0;
		.typeSansSerifHeaderRed;
	}
	br {
		display: none;
	}
	.wp-email-capture-label {
		.typeSansSerifSmall;
	}
	.wp-email-capture-name {
		display: none;
	}
	.wp-email-capture-email-label {
		color: #ccc;
		display: block;
		font-size: 12px;
		font-weight: bold;
		margin: 0;
	}
	.wp-email-capture-input {
		background: @color-red;
		border: 0;
		color: @color-white;
		height: 42px;
		margin: 0 0 10px 0;
		padding: 5px 10px;
		width: 100%;
		@media (max-width: @screen-md) {
			float: left;
			margin-right: 10px;
			position: relative;
			width: 75%;
		}
		@media (max-width: @screen-tablet) {
			width: 80%;
		}
		@media (max-width: @screen-phone) {
			float: none;
			width: 100%;
		}
	}
	.wp-email-capture-submit {
		.btn;
		.btn-darkGreen;
			float: right;
			margin: 0;
		@media (max-width: @screen-tablet) {
			width: 18%;
		}
		@media (max-width: @screen-phone) {
			float: none;
			margin: 10px auto;
			width: 160px;
		}
	}
}