.industries {
	background: @color-white;
	.padding-section-narrow;
	margin: 0;
	text-align: center;
}
.industries-title {
	.typeSerifHeaderRed;
}

.industry {
	margin: 0 0 40px 0;
}
.industry-title {
	.typeSerifHeaderRed;
	font-size: 21px;
}
.industry-list {
	.list-centered;
	.industry-list-title {
		color: @color-darkGrey;
		font-style: italic;
		.typeSerifSmall;
	}
	li {
		color: @color-lightGrey;
		font-size: 12px;
		line-height: 24px;
	}
}
