// Buttons

.btn {
	.border-radius(3px);
	display: inline-block;
	.typeSansSerifMedium;
	width: 160px;
}

.btn-green {
	background: @color-green;
	color: lighten(@color-green,50%);
	&:hover {
		background: lighten(@color-green,5%);
		color: @color-white;
	}
}
.btn-darkGreen {
	background: @color-darkGreen;
	color: lighten(@color-darkGreen,50%);
	&:hover {
		background: lighten(@color-darkGreen,5%);
		color: @color-white;
	}

}
.btn-blue {
	background: @color-blue;
	color: lighten(@color-blue,50%);
	&:hover {
		background: lighten(@color-blue,5%);
		color: @color-white;
	}
}