// Mixins

.list-centered {
	list-style: none;
	padding: 0;
	text-align: center;
}

.no-padding-bottom {
	padding-bottom: 0;
}
.no-padding {
	padding-left: 0;
	padding-right: 0;
}
.padding-section {
	padding: 40px 15px;
}
.padding-section-narrow {
	padding: 40px 35px;
}

.translate(@translatex,@translatey) {
	-webkit-transform:translate(@translatex,@translatey);
	-moz-transform:translate(@translatex,@translatey);
	transform:translate(@translatex,@translatey);
}